.wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.sobre-nos__wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.sobre-nos__image {
  width: 50rem;
  height: auto;
  -webkit-mask-image: linear-gradient(
    to right,
    black 0%,
    black 92%,
    transparent 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: linear-gradient(to right, black 0%, black 92%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
  .text-sobre-nos {
    order: 1;
    padding: 0 2rem;
  }
  /* Mobile: top/bottom fade */
  .sobre-nos__image {
    width: 100%;
    height: auto;
    order: 2;
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;

    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
  .sobre-nos__wrapper {
    flex-direction: column;
  }
  .sobre-nos__text {
    padding: 0 2rem;
  }
}
