
.sobre-nos__wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.sobre-nos__image {
  width: 50rem;
  height: auto;
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 15%,
    rgba(0, 0, 0, 0.7) 25%,
    black 40%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: linear-gradient(
    to left,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 15%,
    rgba(0, 0, 0, 0.7) 25%,
    black 40%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
.sobre-nos__text {
  padding: 5px;
  max-width: 40rem;
}

@media (max-width: 1024px) {
  .sobre-nos__wrapper {
    flex-direction: column;
  }
  .sobre-nos__text {
    order: 1;
    padding: 0 2rem;
    max-width: none;
    text-align: justify;
  }

  .sobre-nos__image {
    width: 100%;
    height: auto;
    order: 2;
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6) 60%,
      rgba(0, 0, 0, 0.3) 80%,
      transparent 100%
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;

    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6) 60%,
      rgba(0, 0, 0, 0.3) 80%,
      transparent 100%
    );
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
  .sobre-nos__wrapper {
    flex-direction: column;
  }
  .sobre-nos__text {
    padding: 0 2rem;
  }
}
