.events__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.event {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.event__heading__desktop {
  border-bottom: 3px solid var(--active-color, #0d80bf);
  padding-bottom: 0.5rem;
  display: inline-block;
}

.event__heading__mobile {
  display: none;
}

.event__text {
  max-width: 35rem;
}

.event__image {
  display: flex;
  align-items: center;
}

.event__image img {
  border-radius: 1rem;
  max-width: 30rem;
}

@media (max-width: 1024px) {
    .events__wrapper{
        gap: 0;
    }
    
  .event {
    padding: 0 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
  }

  .event__heading__mobile {
    border-bottom: 3px solid var(--active-color, #0d80bf);
    padding-bottom: 0.5rem;
    display: inline-block;
    order: 1;
  }

  .event__heading__desktop {
    display: none;
  }

  .event__image {
    order: 2;
  }

  .event__text {
    order: 3;
    max-width: 100%;
  }

  .event__paragraph {
    text-align: left;
  }

  .event__image img {
    max-width: 100%;
    width: 100%;
  }
}
