.wrapper-overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  word-spacing: 0.05px;
}

.text-overview {
  flex: 0 1 40%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.75rem;
  margin: 0 auto;
  max-width: 400px; 
  padding: 2rem;
}

.image {
  width: 50rem;
  height: auto;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 12%,
    black 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 12%,
    black 100%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

@media (max-width: 1024px) {
  .wrapper-overview {
    flex-direction: column;
    padding: 0rem;
    align-items: center;
  }

  .text-overview {
    order: 2;
    text-align: center;
    padding: 0 2rem;
  }

  .image {
    order: 1;
    width: 100%;
    height: auto;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
  
    mask-image: linear-gradient(to bottom, black 80%, transparent);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
}
